.gallery{
    display: inline-block;
    border: 1px solid red;
    margin:5px
}
.gallery .description{
    padding:10px;
    text-align: center;
}
.gallery:hover{
    border:1px solid darkred;
}