.pagination{
    text-align:center;
}
.pagination a{
    color:black;
    text-decoration: none;
    padding: 8px 15px;
    display:inline-block;
}
.pagination a.active{
    background-color: darkgreen;
    font-weight: bold;
    border-radius:5px ;
}
.pagination a:hover:not(.active){
    background-color: orange;
    border-radius: 5px;
}