*{
    box-sizing: border-box;
}
body{
    margin: 0px;
}
header{
    background-color: lightsalmon;
    text-align: center;
    padding: 25px;
}
.navbar{
    background-color: green;
    height: 50px;
}
aside{
    width:20%;
    float:left;
    padding: 10px;
}
section{
    width:40%;
    float:left;
    padding:10px
}
article{
    width:40%;
    float:left;
    padding:10px;
}
footer{
    display: block;
    clear:both;
    background-color: lightsalmon;
    text-align: center;
    padding: 25px;
}
